<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="footer">
        <div class="footer-container">
            <p>&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> Jordan Kellogg. All rights reserved.</p>
            <p>
                <a href="https://github.com/jkellogg-git" target="_blank" rel="noopener noreferrer">GitHub</a>
            </p>
        </div>
    </footer>
</body>
</html>